body {
    margin: 0 auto !important;
    font-size:14px !important;
    font-family:'Roboto', sans-serif !important;
    background-color: white !important;
    color:#000;
    min-width: 100% !important;
}

.head {
    background-color: lavender;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -9px;
    min-width: 100% !important;
}

img {
    width: 300px;
    height: 300px;
    padding-left: 50px;
}

h1, h2 {
    text-align: center;
}

table, th, td {
    border: 3px solid black;
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

svg {
    overflow: visible; /* show axes that extend beyond svg */
    margin-left: 100px; /* move bar to the right to see left axis */
    margin-bottom: 100px;
}

rect {
    stroke: white; /* space between bars */
    stroke-width:1px;
}

#bottom-axis text {
    transform:rotate(45deg); /* rotate bottom axis text so it's visible */
    text-anchor: start; /* point of rotation should be beginning of text, not middle */
}

/* Hide SVG BarChart on Screens Smaller than 1300 */
@media screen and (max-width: 1300px) {
    #svgHidden {
        display: none;
    }
}
